<!-- Kanban board -->
<div layout="column" class='kanban' ng-cloak>
  <!-- Toolbar -->
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <!-- Open left drawer -->
      <md-button class="md-icon-button" aria-label="Settings" ng-click='toggleLeft()'>
        <md-icon md-svg-icon="img/icons/ic_menu_white_24px.svg"></md-icon>
      </md-button>
      <h2>
        <span ng-bind="toolbarTitle"></span>
      </h2>
      <span flex></span>
      <!-- Add new card -->
      <md-button class="md-icon-button" aria-label="AddNewCard" ng-click="addNewCardDialog($event)">
        <md-icon md-svg-icon="img/icons/ic_add_white_24px.svg"></md-icon>
      </md-button>
      <!-- Options menu -->
      <md-menu>
        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
          <md-icon md-svg-icon="img/icons/ic_more_vert_white_24px.svg"></md-icon>
        </md-button>
        <md-menu-content width="6">
          <!-- Logout -->
          <md-menu-item>
            <md-button ng-click="logoutDialog()">
              <md-icon md-svg-icon="img/icons/ic_exit_to_app_black_24px.svg"></md-icon>
              Logout
            </md-button>
          </md-menu-item>
        </md-menu-content>
        </md-menu>
    </div>
  </md-toolbar>
  <md-content id="kanbanlayout" layout="row" layout-xs="column">
    <!-- Left sidenav -->
    <md-sidenav class="md-sidenav-left" md-component-id="left">
      <md-toolbar class="md-theme-light" layout="row">
        <div class="md-toolbar-tools">
          <h1>My kanban boards</h1>
          <span flex></span>
          <!-- Add new kanban board -->
          <md-button class="md-icon-button" aria-label="Add new board" ng-click="addNewBoardDialog($event)">
            <md-icon md-svg-icon="img/icons/ic_add_white_24px.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-content>
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="board in boards" aria-label="Select board" ng-click='switchBoard(board)'>
            <div class="md-list-item-text">
              <h3 ng-bind='board.name'></h3>
              <p ng-bind='board.description'></p>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
    <!-- Ready cards -->
    <div flex-gt-xs="25" class='ready'>
      <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" id='ready-title'>
        <h3>To do</h3>
      </md-whiteframe>
      <md-list class='list kanban-list' dragula="'first-bag'" dragula-model='readyCards'>
        <md-card class='ready-card' ng-repeat='card in readyCards'>
          <md-card-content ng-bind='card.content'></md-card-content>
        </md-card>
      </md-list>
    </div>
    <!-- In progress cards -->
    <div flex-gt-xs="25" class='inprogress'>
      <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" id='inprogress-title'>
        <h3>In progress</h3>
      </md-whiteframe>
      <md-list class='list kanban-list' dragula="'first-bag'" dragula-model='inprogressCards'>
        <md-card class='inprogress-card' ng-repeat='card in inprogressCards'>
          <md-card-content ng-bind='card.content'></md-card-content>
        </md-card>
      </md-list>
    </div>
    <!-- Paused cards -->
    <div flex-gt-xs="25" class='paused'>
      <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" id='paused-title'>
        <h3>Paused</h3>
      </md-whiteframe>
      <md-list class='list kanban-list' dragula="'first-bag'" dragula-model='pausedCards'>
        <md-card class='paused-card' ng-repeat='card in pausedCards'>
          <md-card-content ng-bind='card.content'></md-card-content>
        </md-card>
      </md-list>
    </div>
    <!-- Testing cards -->
    <div flex-gt-xs="25" class='testing'>
      <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" id='testing-title'>
        <h3>Testing</h3>
      </md-whiteframe>
      <md-list class='list kanban-list' dragula="'first-bag'" dragula-model='testingCards'>
        <md-card class='testing-card' ng-repeat='card in testingCards'>
          <md-card-content ng-bind='card.content'></md-card-content>
        </md-card>
      </md-list>
    </div>
    <!-- Done cards -->
    <div flex-gt-xs="25" class='done'>
      <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" id='done-title'>
        <h3>Done</h3>
      </md-whiteframe>
      <md-list class='list kanban-list' dragula="'first-bag'" dragula-model='doneCards'>
        <md-card class='done-card' ng-repeat='card in doneCards'>
          <md-card-content ng-bind='card.content'></md-card-content>
        </md-card>
      </md-list>
    </div>

    <!-- Create card dialog -->
    <script type='text/ng-template' id='cardDialog.tmpl.html'>
      <md-dialog aria-label="New card" ng-cloak>
        <form>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>New card</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="img/icons/ic_clear_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;min-width:300px;min-height:100px">
          <div class="md-dialog-content">
            <md-content layout-padding class="autoScroll">
              <md-input-container class="md-block">
                <input type="text" ng-model="inputDialog.description" placeholder="Description" required>
              </md-input-container>
            </md-content>
          </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
          <md-button ng-click="answer()">
            OK
          </md-button>
        </div>
        </form>
      </md-dialog>
    </script>

    <!-- Create board dialog -->
    <script type='text/ng-template' id='boardDialog.tmpl.html'>
      <md-dialog aria-label="New board" ng-cloak>
        <form>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>New board</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="img/icons/ic_clear_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content style="max-width:600px;max-height:400px;min-width:300px;min-height:200px">
          <div class="md-dialog-content">
            <md-content layout-padding class="autoScroll">
              <md-input-container class="md-block">
                <input type="text" ng-model="inputDialog.name" placeholder="Name" required>
              </md-input-container>
              <md-input-container class="md-block">
                <input type="text" ng-model="inputDialog.description" placeholder="Description" required>
              </md-input-container>
            </md-content>
          </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
          <md-button ng-click="answer()">
            OK
          </md-button>
        </div>
        </form>
      </md-dialog>
    </script>
  </md-content>
</div>
