<!-- Kanban board -->
<div ng-controller="kanbanController as kanban" layout="column" class='kanban' ng-cloak>
  <!-- Toolbar -->
  <md-toolbar layout="row" class="md-whiteframe-2dp">
    <div class="md-toolbar-tools">
      <!-- Open left drawer -->
      <md-button class="md-icon-button" aria-label="Settings" ng-click='toggleLeft()'>
        <md-icon md-svg-icon="img/icons/ic_menu_white_24px.svg"></md-icon>
      </md-button>
      <h2>
        <span ng-bind="toolbarTitle"></span>
      </h2>
      <span flex></span>
      <!-- Options menu -->
      <md-menu>
        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
          <md-icon md-svg-icon="img/icons/ic_more_vert_white_24px.svg"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <!-- Logout -->
          <md-menu-item>
            <md-button ng-click="logoutDialog()">
              Close session
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
  <md-fab-speed-dial md-open="kanban.isOpen" md-direction="{{kanban.selectedDirection}}"
                      ng-class="kanban.selectedMode" class="md-fab-bottom-right speed-dial">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab">
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Create</md-tooltip>
        <md-icon md-svg-icon="img/icons/ic_add_white_24px.svg"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <!-- Add new card -->
      <md-button aria-label="Create card" class="md-fab md-primary md-mini" ng-click="addNewCardDialog($event)">
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Create card</md-tooltip>
        <md-icon md-svg-icon="img/icons/ic_add_white_24px.svg"></md-icon>
      </md-button>
      <!-- Add new board -->
      <md-button aria-label="Create board" class="md-fab md-primary md-mini"  ng-click="addNewBoardDialog($event)">
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Create board</md-tooltip>
        <md-icon md-svg-icon="img/icons/ic_add_white_24px.svg"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
  <md-content id="kanbanlayout" layout="row" layout-xs="column">
    <!-- Left sidenav -->
    <md-sidenav class="md-sidenav-left" md-component-id="left">
      <md-toolbar class="md-theme-light md-whiteframe-2dp" layout="row">
        <div class="md-toolbar-tools">
          <h1>My kanban boards</h1>
        </div>
      </md-toolbar>
      <md-content class="scrollable-nav-content">
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="board in boards" aria-label="Select board" ng-click='switchBoard(board)'>
            <div class="md-list-item-text">
              <h3 ng-bind='board.name'></h3>
              <p ng-bind='board.description'></p>
            </div>
            <md-menu>
              <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-icon="img/icons/ic_more_vert_grey_24px.svg"></md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item><md-button ng-click="editBoardNameDialog($event, $index, board)">Edit name</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="editBoardDescriptionDialog($event, $index, board)">Edit description</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="deleteBoardDialog($index, board)">Delete board</md-button></md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
    <!-- Ready cards -->
    <div flex-gt-xs="25" class='ready'>
      <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" id='ready-title'>
        <h3>To do</h3>
      </md-whiteframe>
      <md-list class='list kanban-list' dragula="'first-bag'" dragula-model='readyCards'>
        <md-card layout="row" class='ready-card' ng-repeat='card in readyCards'>
          <md-card-content ng-bind='card.content'></md-card-content>
          <span flex></span>
          <md-menu>
            <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
              <md-icon md-svg-icon="img/icons/ic_more_vert_grey_24px.svg"></md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item><md-button ng-click="editCardDialog($event, $index, card)">Edit card</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="deleteCardDialog($index, card)">Delete card</md-button></md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-card>
      </md-list>
    </div>
    <!-- In progress cards -->
    <div flex-gt-xs="25" class='inprogress'>
      <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" id='inprogress-title'>
        <h3>In progress</h3>
      </md-whiteframe>
      <md-list class='list kanban-list' dragula="'first-bag'" dragula-model='inprogressCards'>
        <md-card layout="row" class='inprogress-card' ng-repeat='card in inprogressCards'>
          <md-card-content ng-bind='card.content'></md-card-content>
          <span flex></span>
          <md-menu>
            <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
              <md-icon md-svg-icon="img/icons/ic_more_vert_grey_24px.svg"></md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item><md-button ng-click="editCardDialog($event, $index, card)">Edit card</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="deleteCardDialog($index, card)">Delete card</md-button></md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-card>
      </md-list>
    </div>
    <!-- Paused cards -->
    <div flex-gt-xs="25" class='paused'>
      <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" id='paused-title'>
        <h3>Paused</h3>
      </md-whiteframe>
      <md-list class='list kanban-list' dragula="'first-bag'" dragula-model='pausedCards'>
        <md-card layout="row" class='paused-card' ng-repeat='card in pausedCards'>
          <md-card-content ng-bind='card.content'></md-card-content>
          <span flex></span>
          <md-menu>
            <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
              <md-icon md-svg-icon="img/icons/ic_more_vert_grey_24px.svg"></md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item><md-button ng-click="editCardDialog($event, $index, card)">Edit card</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="deleteCardDialog($index, card)">Delete card</md-button></md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-card>
      </md-list>
    </div>
    <!-- Testing cards -->
    <div flex-gt-xs="25" class='testing'>
      <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" id='testing-title'>
        <h3>Testing</h3>
      </md-whiteframe>
      <md-list class='list kanban-list' dragula="'first-bag'" dragula-model='testingCards'>
        <md-card layout="row" class='testing-card' ng-repeat='card in testingCards'>
          <md-card-content ng-bind='card.content'></md-card-content>
          <span flex></span>
          <md-menu>
            <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
              <md-icon md-svg-icon="img/icons/ic_more_vert_grey_24px.svg"></md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item><md-button ng-click="editCardDialog($event, $index, card)">Edit card</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="deleteCardDialog($index, card)">Delete card</md-button></md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-card>
      </md-list>
    </div>
    <!-- Done cards -->
    <div flex-gt-xs="25" class='done'>
      <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" id='done-title'>
        <h3>Done</h3>
      </md-whiteframe>
      <md-list class='list kanban-list' dragula="'first-bag'" dragula-model='doneCards'>
        <md-card layout="row" class='done-card' ng-repeat='card in doneCards'>
          <md-card-content ng-bind='card.content'></md-card-content>
          <span flex></span>
          <md-menu>
            <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
              <md-icon md-svg-icon="img/icons/ic_more_vert_grey_24px.svg"></md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item><md-button ng-click="editCardDialog($event, $index, card)">Edit card</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="deleteCardDialog($index, card)">Delete card</md-button></md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-card>
      </md-list>
    </div>
  </md-content>
</div>
