body, html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

md-list {
  padding: 5dp;
  margin: 2%;
  background-color: rgba(96, 125, 139, 0.14);
  border-radius: 5px;
}

md-whiteframe {
  color: #FFF;
  text-align: center;
  margin: 12px;
  border-radius: 5px;
}

.loginlayout {
  position: fixed;
  left:0;
  top: 0;
  background-image: url("https://i.ytimg.com/vi/HsJoLvRbri0/maxresdefault.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  transform: scale(1.1);
}

.loginbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 12px;
  border-radius: 5px;
  height: 330px;
  width: 360px;
}

#kanbanlayout {
  height:100%;
}

md-toolbar-tools {
  border-radius: 5px;
}

#ready-title {
  background-color: #2196F3;
}

#inprogress-title {
  background-color: #4CAF50;
}

#paused-title {
  background-color: #E91E63;
}

#testing-title {
  background-color: #F44336;
}

#done-title {
  background-color: #FFC107;
}

.kanban{
  height: 100%;
}

.ready, .inprogress, .paused, .testing, .done {
  width: 20%;
  min-width: 180px;
}

.ready, .paused, .done {
  background-color: rgba(96, 125, 139, 0.2);
}

.inprogress, .testing {
  background-color: rgba(96, 125, 139, 0.3);
}

.ready-card, .inprogress-card, .paused-card, .testing-card, .done-card {
  background-color: #FFF;
  cursor: pointer;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.ready-card {
  border-left: 6px solid #2196F3;
}

.inprogress-card {
  border-left: 6px solid #4CAF50;
}

.paused-card {
  border-left: 6px solid #E91E63;
}

.testing-card {
  border-left: 6px solid #F44336;
}

.done-card {
  border-left: 6px solid #FFC107;
}
